<main class="main-container">
  <form class="app-user-preferences">
    <label for="4" class="number-cards__label">4</label>
    <input
      type="radio"
      class="number-cards__button"
      id="4"
      name="number"
      checked
    />
    <label for="6" class="number-cards__label">6</label>
    <input type="radio" class="number-cards__button" id="6" name="number" />
    <label for="8" class="number-cards__label">8</label>
    <input type="radio" class="number-cards__button" id="8" name="number" />
    <button type="submit" autofocus>Comenzar</button>
  </form>
  <div class="app-results">
    <div class="card card--face">:)</div>
    <div class="card card--back"></div>
  </div>
</main>
