<main class="main-container">
  <form class="app-user-preferences">
    <label for="input4" class="number-cards__label">4</label>
    <input
      type="radio"
      class="number-cards__button"
      id="input4"
      name="number"
      data-number=4;
      checked
    />
    <label for="input6" class="number-cards__label">6</label>
    <input
      type="radio"
      class="number-cards__button"
      id="input6"
      name="number"
      data-number=6;
    />
    <label for="input8" class="number-cards__label">8</label>
    <input
      type="radio"
      class="number-cards__button"
      id="input8"
      name="number"
      data-number=8;
    />
    <button class="btn-start"" type="submit" autofocus>Comenzar</button>
  </form>
  <ul class="app-results">
  </ul>
</main>
