// Example of function sintaxis, habiendo definido una variable defaultFontSize de 14

@function rem($pixels) {
    @return ( $pixels * 1rem / $defaultFontSize );
}

// En mi sass, la aplico así:
.main-footer__copyright {
    margin-top: 100px;
    color: #b8b8b9;
    font-family: $fontPrimary;
    font-size: rem(14); 
    // Equivale a:
    // font-size: 1rem; 
    // font-size: 14px; 